*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.flex{
    display: flex;
}

.flex.between{
    justify-content: space-between;
}

.flex.center{
    justify-content: center;
    align-items: center;
}

.blue-btn{
    background-color: rgb(0,97,255);
    color: white;
    border: none;
    padding: 0.5rem 1.1rem;
    font-size: 1rem;
    cursor: pointer;
}

.blue-btn:hover{
    background-color: rgba(0,97,255, 0.7);
}

.white-btn{
    border: 1px black solid;
    background-color: white;
    color: black;
    padding: 0.5rem 1.1rem;
    font-size: 1.1rem;
    cursor: pointer;
}

.white-btn:hover{
    background-color: rgba(0, 0, 0, 0.05);
}

.container-size-hero{
    max-width: 1200px;
    margin: 0 auto;
}

.container-size-main{
    max-width: 1000px;
    margin: 0 auto;
}

hr.small-divider{
    width: 120px;
    height: 2px;
    background-color: #bdbdbd;
}

h2{
    font-size: 2.5rem;
}

h3{
    font-size: 1.5rem;
}

i.fa-check{
    color: #0b5eff;
}

li .fa-li{
    left: calc(var(--fa-li-width, 1rem)*-1);
}

header nav{
    position: fixed;
    width: 100%;
    z-index: 10;
    top: 0;
    left: 0;
    background-color: white;
    border-bottom: 1px solid #bdbdbd;
}

header nav ul{
    align-items: center;
}

header nav .nav-item{
    position: relative;
    list-style: none;
    padding: 1rem 1.5rem;
    height: 100%;
    align-items: center;
    border-bottom: 3px solid transparent;

}

header nav .menu-item:hover{
    border-bottom: 3px solid black;
}

header nav .nav-item img{
    vertical-align: middle;
}

header nav .nav-item a{
    text-decoration: none;
    color: #000;
    font-size: 1rem;
}

header nav .nav-item .sub-menu{
    position: absolute;
    left: 0;
    top: calc(100% + 3px);
    background-color: rgb(245, 245, 245);
    display: none;
    padding: 1.1rem 0;
}

header nav .nav-item:hover .sub-menu{
    display: flex;

}

header nav .nav-item .sub-menu ul{
    list-style: none;
    font-size: 0.9rem;
    width: 250px;
}

header nav .nav-item .sub-menu ul .sub-menu-head{
    font-size: 1.1rem;
    margin: 0.4rem 1.5rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #bdbdbd;
    font-weight: bold;
}

header nav .nav-item .sub-menu ul .sub-menu-item{
    padding: 0.4rem 1.5rem;
    width: 100%;
    cursor: pointer;
}

header nav .nav-item .sub-menu ul .sub-menu-item:hover{
    background-color: rgb(221, 221, 221);
}

header .jumbotron{
    background-color: #b4d0e7;
    padding-top: 7rem;
}

header .jumbotron .hero{
    flex-wrap: wrap;
}

header .jumbotron .hero .title{
    font-weight: 900;
    font-size: 5rem;
    width: 100%;
    padding-bottom: 3rem;
}

header .jumbotron .hero aside{
    width: 30%;
}

header .jumbotron .hero .jumbo-image{
    width: 70%;
    position: relative;
}

header .jumbotron .hero aside .blue-btn{
    margin: 2rem 0;
}

header .jumbotron .hero aside i{
    font-size: 3rem;
    margin: 5rem 0 1rem 0;
}

header .jumbotron .hero img{
    width: 100%;
    position: absolute;
}

main .subscription{
    padding-top: 10rem;
}

main .subscription h2{
    padding-bottom: 2.5rem;
}

main .subscription label{
    margin-right: 3rem;
}

main .subscription .wrapper{
    padding-top: 4rem;
    width: 100%;
}

main .subscription .plan{
    width: calc(100% / 3 - 1.5rem);
    border: 1px solid #bdbdbd;
}

main .subscription .plan .head-plan{
    width: 100%;
    border-bottom: 1px solid #bdbdbd;
    list-style: none;
    padding: 0.7rem 0;
}

main .subscription .plan .head-plan i{
    margin-right: 0.5rem;
}

main .subscription .plan .feature{
    position: relative;
    padding: 0.5rem 0 0.5rem 0.7rem;
}

main .subscription .plan ul{
    padding: 2rem;
    list-style: none;
    font-size: 0.9rem;
}

main .subscription .plan .body-plan .title{
    font-size: 1.4rem;
    padding-bottom: 1rem;
}

main .subscription .plan .body-plan .price{
    font-size: 0.9rem;
    font-weight: bold;
    padding-bottom: 0.6rem;
}

main .subscription .plan .body-plan .payment-time{
    font-size: 0.9rem;
    color: #8d8d8d;
}

main .subscription .plan .body-plan .features{
    padding: 2.5rem 0;
    list-style: none;
}

main .subscription .plan .body-plan .shop-now{
    padding: 2rem 0;
}

main .subscription .plan .resume{
    padding-top: 2.5rem;
    list-style: none;
}

main .subscription .plan .resume h4{
    padding-bottom: 2rem;
}

main .subscription .contact-us{
    width: 100%;
    margin-top: 5rem;
}

main .subscription .small-divider{
    margin-left: 2rem;
}

main .partner{
    padding-top: 10rem;
}

main .partner .img-box{
    width: 60%;
}

main .partner img{
    width: 100%;
}

main .partner aside{
    padding: 5rem 3rem;
    width: 40%;
}

main .partner aside .caption{
    padding: 2rem 0;
}

main .advantages h2{
    padding-top: 5rem;
}

main .advantages .wrapper{
    flex-wrap: wrap;
    width: 100%;
    row-gap: 3rem;
    column-gap: 1.2rem;
    padding-top: 5rem;
}

main .advantages .advantage{
    width: calc(100% / 3 - 2.4rem);
}

main .advantages .advantage img{
    width: 100%;
    text-align: center;
    padding-bottom: 1rem;
}

main .advantages .advantage .caption{
    padding-top: 2rem;
}

main .our-customers{
    padding: 12rem 0 8rem 0;
}

main .our-customers h2{
    padding-bottom: 3rem;
}

main .accordion{
    width: 100%;
}

main .accordion .brands-wrapper{
    flex-wrap: wrap;
    flex-shrink: 0;
    width: calc(100% / 3);
    aspect-ratio: 1 / 1;
}

main .accordion .brands-wrapper .brand{
    width: 50%;
    aspect-ratio: 1 / 1;
    background-color: rebeccapurple;
    transition: all 0.33s ease-out;
    cursor: pointer;
    border: 0.7rem solid transparent;

}

main .accordion .brands-wrapper .brand img{
    width: 50%;
    filter: invert(1);
}

main .accordion .brands-wrapper:first-of-type .brand:nth-child(1){
    background-color: #a2d39b;
}

main .accordion .brands-wrapper:first-of-type .brand:nth-child(2){
    background-color: #61082b;
}

main .accordion .brands-wrapper:first-of-type .brand:nth-child(3){
    background-color: #0093ce;
}

main .accordion .brands-wrapper:first-of-type .brand:nth-child(4){
    background-color: #ff1c1c;
}

main .accordion .brands-wrapper:last-of-type .brand:nth-child(1){
    background-color: #d5001f;
}

main .accordion .brands-wrapper:last-of-type .brand:nth-child(2){
    background-color: #b4d0e7;
}

main .accordion .brands-wrapper:last-of-type .brand:nth-child(3){
    background-color: #0d2481;
}

main .accordion .brands-wrapper:last-of-type .brand:nth-child(4){
    background-color: #ffd830;
}

main .accordion .brands-wrapper .brand:hover{
    border: 0.7rem solid rgba(255,255,255,0.5);
}

main .accordion .review{
    padding: 3rem;
    background-color: #f5f5f5;
}

main .accordion .review img{
    width: 50%;
    padding-bottom: 2rem;
}

main .accordion .review .caption{
    padding: 3rem 0;
}

main .free-trial{
    background-color: #b4d0e7;
    padding: 7rem 0;
}

main .free-trial h2{
    color: #5c0026;
}

main .free-trial button{
    align-self: self-start;
    border: none;
    background-color: #fff;
    padding: 0.7rem 3rem;
    font-size: 1.1rem;
    cursor: pointer;
}

main .faq{
    padding: 7rem 0;
}

main .faq h2{
    padding-bottom: 3rem;
    border-bottom: 1px solid #bdbdbd;
}

main .faq ul li{
    border-bottom: 1px solid #bdbdbd;
    padding: 3rem 0;
    font-weight: bold;
}

main .faq ul li i{
    padding-right: 2rem;
    font-size: 0.8em;
    cursor: pointer;
}

footer{
    background-color: #000;
    color: white;
    padding: 5rem 0 3rem 0;
}

footer nav ul{
    width: calc(100% / 5 - 5rem);
    list-style: none;
    padding-bottom: 6rem;
    line-height: 2.2rem;
}

footer nav ul .head{
    font-weight: bold;
    font-size: 1.3rem;
    padding-bottom: 1rem;
}

footer nav ul a{
    text-decoration: none;
    color: white;
}

footer .language-menu{
    padding-top: 3rem;
    color: #bdbdbd;
    cursor: pointer;
}

